@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

* {
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

.container{
    /* align-items: center; */
    padding: 100px;
    padding-top: 100px;
    max-width: 1024px;
  min-height: 500px;
  background: lightgoldenrodyellow;
  margin: 0 auto;
  justify-content: center;
}


.body {
    padding: 15px;
  }

.h1{
    padding: 100px;
    text-align: center;
}
.jumbo {
    padding: 40px;
    background: lightgoldenrodyellow;
  }
  .jumbo h2 {
    font-size: 3.2em;
    margin-top: -25px;
  }
  .jumbo img {
    height: 200px;
    position: relative;
    top: -25px;
    right: -20px;
  }

  .right {
    float: right;
    
  }

  .dev {
    /* background: url(../assets/images/Developer.jpg); */
    background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;

  position: relative;
  top: -25px;
    /* ...snip... */
  }

  a {
    color: #016aba;
    text-decoration: none;
  }
  
  button {
    font-size: 100%;
  }

  .button {
    padding: 10px 30px 10px;
    text-decoration: none;
    color: #fff;
    background: black;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    display: inline-block;
  }
  
  .button:hover {
    opacity: 1;
  }

  .end{

        background: url(../assets/images/Ember.jpg);
    background-size: contain;
      background-repeat: no-repeat;
      height: 200px;
      width: 200px;
    
      position: relative;
      top: -25px;
        /* ...snip... */
  }
  
  .jumbo p,
  .jumbo address {
    margin-bottom: 25px;
  }

  .foot{
      background-color: black;
      padding: 10px;
  }
  .menu {
    height: 4em;
    background-color: #677ae4;
    background-color: #05526A;
    background-color: black;
    color: white;
  }
  
  .menu h1 {
    position: relative;
    padding: 5px 0 0 8px;
    color: #f9f9f9;
    font-size: 1.8em;
    font-style: italic;
  }
  
  .menu a,
  .menu .links {
    display: inline-block;
  }
  
  .menu a {
    text-decoration: none;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  
  .menu a:hover,
  .menu a.active {
    opacity: 1;
  }
  
  .menu .links {
    padding: 0 15px;
  }
  
  .menu .links a {
    position: relative;
    bottom: 5px;
  }
  .search{
      padding-top: 1px;
  }
  .dropdown-menu{
      color: white;
      background-color: black;
  }

  .contents a{
    text-decoration: none;
    color: #fefefe; 
  }

  .contents a:hover{
    text-decoration: none;
    color: #fefefe;
}