<div class="foot">
{{!-- <h2>You can check Official Ember Documentation Here</h2> --}}

<h4 class='contents'>
  <a href='https://guides.emberjs.com/release/tutorial/part-1/orientation/'>You can check Official Ember Documentation Here</a>
</h4>
</div>
