<div class="jumbo">
    <div class="right dev"><img class="img-fluid mt-4" src="assets/images/Developer.jpg" ></div>
    <h1>Welcome To Geeky Ember</h1>
    <p>Let's dive in this geeky tutorial</p>

    <LinkTo @route="about" class="button">About Ember</LinkTo>
</div>
