<div class="jumbo">
    <div class="right end"></div>
    <h1>Why Ember :) ?</h1>
    <p>Ember.js is an open source, free JavaScript client-side framework used for developing web applications.
         It allows building client side JavaScript applications by providing a complete solution which contains data management and an application flow.</p>
    
    <p>The original name of Ember.js was SproutCore MVC framework. It was developed by Yehuda Katz and initially released on in December 2011. The stable release of Ember.js is 2.10.0 and this was released on November 28, 2016.</p>
    <h1>Ember Key Features</h1>
    <ul>
        <li>
            Ember.js is used for creating reusable and maintainable JavaScript web applications.
        </li>
        <li>
            Ember.js has HTML and CSS at the core of the development model.
        </li>
        <li>
            The routes are core features of the Ember.js which are used for managing the URL's.
        </li>
    </ul>

</div>
<Footer />